mixin pagination(adjacents, numPages, display, currentPage, base)
  - adjacents = (adjacents || 1) * 1;
  - numPages = (numPages || 10) * 1;
  - currentPage = (currentPage || 1) * 1;
  - nextPage = currentPage + 1;
  - prevPage = currentPage - 1;
  - base = base || '#';
  - display = (display || 7) * 1;
  
  nav(aria-label='...', style='text-align: center')
    ul.pagination.justify-content-end
      if prevPage > 0
        li.page-item
          a.page-link(href=base + prevPage)
                          | Previous
      else
        li.page-item.disabled
          a.page-link(href=base + prevPage)
                          | Previous
      if numPages < display + adjacents * 2
          - var p = 1;
          while p <= numPages
              if currentPage == p
                  li.page-item.active
                      a.page-link(href=base + p)
                          | #{p}
              else
                  li.page-item
                      a.page-link(href=base + p)
                          | #{p}
              - p++;
      else if numPages >= 7 + adjacents * 2
          if currentPage < 1 + adjacents * 3
              - var p = 1;
              while p < display - 3 + adjacents * 2
                  if currentPage == p
                      li.page-item.active
                          a.page-link(href=base + p)
                              | #{p}
                  else
                      li.page-item
                          a.page-link(href=base + p)
                              | #{p}
                  - p++;
              li.page-item.disabled
                  a.page-link(href="#")
                      | &hellip;
              li.page-item
                  a.page-link(href=base + (numPages - 1))
                      | #{numPages - 1}
              li.page-item
                  a.page-link(href=base + numPages)
                      | #{numPages}
          else if numPages - adjacents * 2 > currentPage && currentPage > adjacents * 2
              li.page-item
                  a.page-link(href=base + 1)
                      | 1
              li.page-item
                  a.page-link(href=base + 2)
                      | 2
              li.page-item.disabled
                  a.page-link(href="#")
                      | &hellip;
              - var p = currentPage - adjacents;
              while p <= currentPage + adjacents
                  if currentPage == p
                      li.page-item.active
                          a.page-link(href=base + p)
                              | #{p}
                  else
                      li.page-item
                          a.page-link(href=base + p)
                              | #{p}
                  - p++;
              li.page-item.disabled
                  a.page-link(href="#")
                      | &hellip;
              li.page-item
                  a.page-link(href=base + (numPages - 1))
                      | #{numPages - 1}
              li.page-item
                  a.page-link(href=base + numPages)
                      | #{numPages}
          else
              li.page-item
                  a.page-link(href=base + 1)
                      | 1
              li.page-item
                  a.page-link(href=base + 2)
                      | 2
              li.page-item.disabled
                  a.page-link(href="#")
                      | &hellip;
              - var p = numPages - (1 + (adjacents * 3));
              while p <= numPages
                  if currentPage == p
                      li.page-item.active
                          a.page-link(href=base + p)
                              | #{p}
                  else
                      li.page-item
                          a.page-link(href=base + p)
                              | #{p}
                  - p++;
      if nextPage <= numPages
        li.page-item
          a.page-link(href=base + nextPage)
                          | Next
      else
        li.page-item.disabled
          a.page-link(href=base + nextPage)
                          | Next
